html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

                    /* HEADER */
header{
    background-color: yellow;
    margin: 0px;
}



                /* TABLEAU */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 75%;
}
td{
    border: 1px solid black;
}
.img1{
    width: 100px;
    opacity: 0.9
}