html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

                    /* HEADER */
header{
    background-color: yellow;
    margin: 0px;
}

td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}